@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css');

h1, h2, h3, h4, h5{
    font-family: 'Montserrat', sans-serif;
}

body{
    font-family: 'Roboto', sans-serif;
}

.navbar-nav.navbar-right:last-child {
    margin-right: 0;
}
.navbar-inverse .navbar-nav>li>a {
    color: white;
}
.navbar-inverse .navbar-nav>li>a:hover {
    color: #FFDACE;
}
.navbar-inverse .navbar-brand {
    color: white;
}

section#itemsInner1{
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}

article#items1{
    position: relative;
}

div.moreleft, div.moreright {
    position: absolute;
    height: 100%;
    width: 2em;
    background: rgba(255, 255, 255, .5);
    bottom: 0;
}

div.moreleft {
    left: 0;
}

div.moreright {
    left: 0;
}

.scrollleft, .scrollright {
    position: absolute;
    transform: scaleY(2);
    bottom: 50%;
    font-size: 1.2em;
    font-weight: 100;
    margin-left: 10px;
    margin-right: 10px;
}

.scrollleft{
    left: 0;
}

.scrollright{
    right: 0;
}

a.left-button, a.right-button {
    text-decoration: none;
    color: rgb(60, 60, 60);
}

/* Container holding the image and the text */

.toppic {
    position: relative;
    display: inline-block;
    background-image: url("https://colorate.azurewebsites.net/SwatchColor/FFDACE");
    height: 40%;
    width: 100%;
    margin-top: -20px ;
  }
.text-block
{
    text-align: center;
    margin-top: 130px;
    background-color: #FFDACE;
}
  
  /* Bottom right text */
  #text-block {
    position: absolute;
        z-index: 999;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 40%; /* Adjust this value to move the positioned div up and down */
        text-align: center;
        width: 60%;
        background-color: white;
        padding-left: 0px;
  }

  /* Attempting to change nav bar colour - not working */
  .navbar-brand{
      color: #FFDACE;
  }
  .navbar{
    color: #FFDACE; 
  }
  .description: h1{

      background-color: white;
      color: black;
  }

  /*positioning and styling projects on home page*/
  .first-image{
    position: relative;
    float: left;
    min-height: 1px;
    padding-right: 30px;
    padding-left: 10px;
    margin-left:10%;
  } 
  .description{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
    position: relative;
    min-height: 1px;
    padding-right: 30px;
    padding-left: 10px;
    float: right;
    background-color: white;
    color: black;
    margin-right: 10%;
    
  }

  /* learn more buttons */
  a.btn.btn-primary {
    position: relative;
    background: #E5E5E5;
    border-radius: 5px;
    border-color: #E5E5E5;
    color: black;
  }

  /*about section*/
  .aboutSection{
      padding: 5%;
  }
  .aboutSection h1{
      text-align: center;
      clear: both;
  }
  .aboutSection img
  {
      float: left;
      height: 40%;
      margin: 5%;

  }

/*Scotiabank page formatting*/
.titleSection{
    text-align: center;
}
div.contributors{
    padding-left: 10%;
    position: relative;
    float: left;
    color: #737272;
}
div.contAns{
    float: left;
    position: relative;
    text-align: right;
    padding-left: 15%;
}
div#conf{
    position: relative;
    float: right;
    padding-right: 10%;
}
div#agreement{
    position: absolute;
 
        margin: auto;
        left: 0;
        right: 0;
        top: 12%; 
        text-align: right;
        width: 100%;
        padding-right: 155px;
}
div.projectText{
    position: relative;
    float:left;
    padding-left: 10%;
    padding-right: 10%;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.scocolumn {
   float:left;
    width: 30%;
    padding: 5px;
  display:block;
  margin-left:10px;
  margin-bottom: 1px;
  text-align: center;
  }
  .scorow{
      margin-left:7%;
  }
  
  /* Clear floats after image containers */
  .scorow::after {
    content: "";
    clear: both;
    display: table;
    margin-left:10%;
  }
  /* Three image containers (use 25% for four, and 50% for two, etc) */
.greencolumn {
    float:left;
     width: 20%;
     padding: 5px;
   display:block;
   margin-left:15px;
   margin-bottom: 1px;
   text-align: center;
   }
   .greenrow{
       margin-left:12%;
   }
   
   /* Clear floats after image containers */
   .greenrow::after {
     content: "";
     clear: both;
     display: table;
     margin-left:15%;
   }

   /*green formatting*/
   div#greenpro{
    margin: auto;
    width: 50%;
    padding: 10px;
   }


   .Pimages{
       border: green;
   }
  /*image gallery*/

.clearfix{
    clear: both;
}